In [167]:
import pandas as pd
from os import path
import matplotlib.pyplot as plt

In [55]:
df = pd.read_csv("vgsales.csv")
df.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [57]:
for col in df.columns:
    if df[col].dtype != "object":
        print(f"La colonne {col} a pour valeur minimal {df[col].min()} et maximal {df[col].max()}")

La colonne Rank a pour valeur minimal 1 et maximal 16600
La colonne Year a pour valeur minimal 1980.0 et maximal 2020.0
La colonne NA_Sales a pour valeur minimal 0.0 et maximal 41.49
La colonne EU_Sales a pour valeur minimal 0.0 et maximal 29.02
La colonne JP_Sales a pour valeur minimal 0.0 et maximal 10.22
La colonne Other_Sales a pour valeur minimal 0.0 et maximal 10.57
La colonne Global_Sales a pour valeur minimal 0.01 et maximal 82.74

In [63]:
print(" En Amérique, les ventes ont un totale de", df["NA_Sales"].sum())
print(" En Europe, les ventes ont un totale de", df["EU_Sales"].sum())
print(" Au Japon, les ventes ont un totale de", df["JP_Sales"].sum())
print(" Ailleurs, les ventes ont un totale de", df["Other_Sales"].sum())
print(" Avec un totale de ventes de", df["Global_Sales"].sum())

 En Amérique, les ventes ont un totale de 4392.950000000001
 En Europe, les ventes ont un totale de 2434.1299999999997
 Au Japon, les ventes ont un totale de 1291.0200000000002
 Ailleurs, les ventes ont un totale de 797.7500000000001
 Avec un totale de ventes de 8920.44

In [68]:
global_sales = df["Global_Sales"].sum()
print("L'Amérique représentent", df["NA_Sales"].sum() * 100 / global_sales,"% des ventes")
print("L'Europe représentent", df["EU_Sales"].sum() * 100 / global_sales,"% des ventes")
print("Le Japon représentent", df["JP_Sales"].sum() * 100 / global_sales,"% des ventes")
print("Ailleurs représentent", df["Other_Sales"].sum() * 100 / global_sales,"% des ventes")

L'Amérique représentent 49.245889216227006 % des ventes
L'Europe représentent 27.28710691400872 % des ventes
Le Japon représentent 14.472604490361462 % des ventes
Ailleurs représentent 8.942944518431828 % des ventes

In [93]:
print(df.groupby(['Year']).count())

        Rank  Name  Platform  Genre  Publisher  NA_Sales  EU_Sales  JP_Sales  \
Year
1980.0     9     9         9      9          9         9         9         9
1981.0    46    46        46     46         46        46        46        46
1982.0    36    36        36     36         36        36        36        36
1983.0    17    17        17     17         17        17        17        17
1984.0    14    14        14     14         14        14        14        14
1985.0    14    14        14     14         14        14        14        14
1986.0    21    21        21     21         21        21        21        21
1987.0    16    16        16     16         16        16        16        16
1988.0    15    15        15     15         15        15        15        15
1989.0    17    17        17     17         17        17        17        17
1990.0    16    16        16     16         16        16        16        16
1991.0    41    41        41     41         41        41        41        41
1992.0    43    43        43     43         43        43        43        43
1993.0    60    60        60     60         60        60        60        60
1994.0   121   121       121    121        121       121       121       121
1995.0   219   219       219    219        219       219       219       219
1996.0   263   263       263    263        263       263       263       263
1997.0   289   289       289    289        289       289       289       289
1998.0   379   379       379    379        379       379       379       379
1999.0   338   338       338    338        338       338       338       338
2000.0   349   349       349    349        349       349       349       349
2001.0   482   482       482    482        482       482       482       482
2002.0   829   829       829    829        829       829       829       829
2003.0   775   775       775    775        775       775       775       775
2004.0   763   763       763    763        744       763       763       763
2005.0   941   941       941    941        936       941       941       941
2006.0  1008  1008      1008   1008       1008      1008      1008      1008
2007.0  1202  1202      1202   1202       1201      1202      1202      1202
2008.0  1428  1428      1428   1428       1428      1428      1428      1428
2009.0  1431  1431      1431   1431       1431      1431      1431      1431
2010.0  1259  1259      1259   1259       1257      1259      1259      1259
2011.0  1139  1139      1139   1139       1136      1139      1139      1139
2012.0   657   657       657    657        655       657       657       657
2013.0   546   546       546    546        546       546       546       546
2014.0   582   582       582    582        580       582       582       582
2015.0   614   614       614    614        614       614       614       614
2016.0   344   344       344    344        342       344       344       344
2017.0     3     3         3      3          3         3         3         3
2020.0     1     1         1      1          1         1         1         1

        Other_Sales  Global_Sales
Year
1980.0            9             9
1981.0           46            46
1982.0           36            36
1983.0           17            17
1984.0           14            14
1985.0           14            14
1986.0           21            21
1987.0           16            16
1988.0           15            15
1989.0           17            17
1990.0           16            16
1991.0           41            41
1992.0           43            43
1993.0           60            60
1994.0          121           121
1995.0          219           219
1996.0          263           263
1997.0          289           289
1998.0          379           379
1999.0          338           338
2000.0          349           349
2001.0          482           482
2002.0          829           829
2003.0          775           775
2004.0          763           763
2005.0          941           941
2006.0         1008          1008
2007.0         1202          1202
2008.0         1428          1428
2009.0         1431          1431
2010.0         1259          1259
2011.0         1139          1139
2012.0          657           657
2013.0          546           546
2014.0          582           582
2015.0          614           614
2016.0          344           344
2017.0            3             3
2020.0            1             1

In [91]:
print(df["Name"][df["Global_Sales"]==df["Global_Sales"].max()].values,df["Platform"][df["Global_Sales"]==df["Global_Sales"].max()].values,df["Global_Sales"][df["Global_Sales"]==df["Global_Sales"].max()].values)

['Wii Sports'] ['Wii'] [82.74]

In [153]:
for platform in df.groupby(['Platform']):
    max_sales = df.groupby(['Platform']).sum()["Global_Sales"].max()
    platform_sale = platform[1]["Global_Sales"].sum()
    if  round(platform_sale, 2) == round(max_sales, 2):
        print(platform[0], platform_sale)

('PS2',) 1255.6399999999999

In [166]:
for genre in df.groupby(['Genre']):
    max_sales = df.groupby(['Genre'])["Global_Sales"].mean().max()
    genre_sale = genre[1]["Global_Sales"].mean()
    if round(genre_sale, 2) == round(max_sales, 2):
        print(genre[0], genre_sale)

('Platform',) 0.9383408577878104

In [ ]:
plt.